/* style for the main page, might be applicable everywhere. We'll see... */

* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(15, 117, 117);
}

body {
    background-image: url(grog.jpeg);
}

.welcome {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(38, 57, 63, 0.788);
    text-align: center;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: -8px;
    margin-right: -8px;
}

.head {
    font-size: 60px;
    color: white;
    margin-top: 25px;
}

/* to do: choose btwn this font color and universal font color*/
.button {
    background-color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    color: rgb(37, 116, 148);
    margin-bottom: 20px;
    text-align: center;
    border: rgba(160, 173, 177, 0.637);
    border-radius: 5px;
}

div.about {
    background-color: white;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: auto;
    padding: 12px;
}

.about {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.about .ahead {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3%;
}

.about .subhead {
    font-weight: bold;
    font-size: medium;
    margin-top: 40px;
}