/* style for the main page, might be applicable everywhere. We'll see... */

* {
    color: rgb(15, 117, 117);
}

body {
    font-family: 'Gabarito', Arial, sans-serif;
}

.grog {
    background-image: url(grog.jpeg);
    min-height: 400px;
    margin: -10px -10px 0px;
}

.welcome {
    background-color: rgba(38, 57, 63, 0.788);
    text-align: center;
    vertical-align: middle;
    min-height: 200px;  
}

.head {
    font-size: 60px;
    margin: 0px 0px 30px;
    color: white;
}

.blank {
    min-height: 100px;
    margin: 0px;
}

.button {
    background-color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    color: rgb(37, 116, 148);
    margin: 0px 20px 20px;
    text-align: center;
    border: rgba(160, 173, 177, 0.637);
    border-radius: 5px;
}

.button:hover {
    box-shadow: 2px 2px 2px 2px gray
}

.about {
    background-color: white;
}

.disclaim {
    font-size: 12px;
    padding: 20px 0px 0px   ;
}